.button {
	border:none;
	background-color:inherit;
	text-decoration:none;
	color:inherit;
	font-size:xx-large;
	overflow:hidden;
}

.button.close.times {
	margin-top:-32px;
	float:right;	
}

.sidebar {
	padding-top:32px;
	padding-left:16px;
	padding-right:16px;
	position:fixed;
	height:100%;
	background-color:#f6f6f6;
}

.main_content {
	padding-left:32px;
	padding-right:16px;
}

@media (max-width:720px) {
	.sidebar {
		display:none;
	}
	
	.main_content {
		margin:0!important;
	}
}

@media (min-width:721px) {
	.sidebar {
		display:block!important;
	}
	
	.close {
		display:none!important;
	}
	
	.main_content {
		margin-left:200px!important;
	}
}